:root {
  --bg-primary: #1B181E;
  --bg-secondary: #2C2731;
  --bg-tertiary: #3C3643;

  --text-bg-primary: #EFEDF1;

  --yellow-primary: #F9DC5C;
  --green-primary: #6A994E;
  --orange-primary: #EA8C55;
  --red-primary: #C75146;
  --steel-teal: #648381;
  --ash-gray: #9CAEA9;
}